<div class="ui grid three column wide stackable">
	<div class="column"></div>

	<div class="column">
		<div class="page content shadow">

			<div class="title">
				<div class="ui header aligned center">
					Novo Usuário
				</div>
			</div>

			<div style="padding: 25px 15px;">
				<%= render 'users/partial/form' %>
			</div>
		</div>
	</div>
</div>
